<!DOCTYPE html>
<html>
<head>
    <title></title>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
</head>
<body>

    <section class="page__section--how-steps">
    
    
    <div class="page__section--how steps-main" style="background-image: none">
    
            <div class="page__section-content--small step border6">
                
                <div class="page__section__icon">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                </div>

                <span class="page__how-step-number border4">1</span>
                <div class="page__how-step">
                    <div class="page__how-description">
                        <p>Democratica y el cliente crean en conjunto el brief del reto creativo para entrar en la etapa de ideación.</p><p><br></p>                        </div>
                </div>
            </div>

                

                        
            <div class="page__section-content--small step border6">
                
                <div class="page__section__icon">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                </div>

                <span class="page__how-step-number border4">2</span>
                <div class="page__how-step">
                    <div class="page__how-description">
                        <p><br>El reto creativo o concurso se lanza a la comunidad para que se pongan a trabajar en sus propuestas. La comunidad es notificada por la plataforma, vía email o via app.</p>                        </div>
                </div>
            </div>

    </div>
                    
    
    <div class="page__section--how steps-main" style="background-image: none">
    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">3</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>La comunidad sube sus mejores propuestas (cuantas quieran) a la plataforma via PC, tablet o smartphone. Esas ideas llegan bajo un pseudónimo a Democratica y al Cliente. </p>                        </div>
            </div>
        </div>

            

                    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">4</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Las ideas ganadoras son escogidas por los jueces y los clientes, y se realiza el pago. Solo cuando el cliente compra una idea se sabe de quién es; todos en igualdad de condiciones, se premian ideas, no nombres. </p><p>(Hasta aquí puede llegar un proceso sencillo de ideación)</p>                        </div>
            </div>
        </div>

    </div>
                    
    
    <div class="page__section--how steps-main" style="background-image: none">
    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">5</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Las ideas ganadoras se liberan a la comunidad para generar un approach especifico y aterrizado como pieza de la idea.</p><p>Aquí es donde entran todos los guidelines, requerimientos y ejecuciones de cliente y marca de una pieza. <br></p>                        </div>
            </div>
        </div>

            

                    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">6</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Los 'approaches' ganadores son escogidos por los jueces y clientes, y se realiza el pago. </p><p>(Hasta aquí puede llegar un proyecto de Approach Democrática)</p>                        </div>
            </div>
        </div>

    </div>
                    
    
    <div class="page__section--how steps-main" style="background-image: none">
                    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">7</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Los 'approaches' ganadores se pasan para que sean producidos por algún  especialista del medio; gráfico, fotográfico, audio, audio-visual, digital o BTL. Estos pasan sus propuestas comerciales. </p>                        </div>
            </div>
        </div>

            

                    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">8</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Las propuestas comerciales ganadoras serán las que produzcan finalmente la pieza o actividad con la supervision de Democratica. </p>                        </div>
            </div>
        </div>

    </div>
                    
    
    <div class="page__section--how steps-main" style="background-image: none">
    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">9</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Se realizan los debidos procesos para hacer la producción de la pieza o actividad. Se procede con la producción. Se hace la respectiva ronda de ajustes.</p>                        </div>
            </div>
        </div>

            

                    
        <div class="page__section-content--small step border6">
            
            <div class="page__section__icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <span class="page__how-step-number border4">10</span>
            <div class="page__how-step">
                <div class="page__how-description">
                    <p>Se entrega la pieza o actividad al final con todos los derechos para que la marca pueda hacer su difusión. </p>                        </div>
            </div>
        </div>

    </div>
                    
    

</section>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>




